.bottom-toolbar {
  margin-top: 5px;
  text-align: center;
}

.no-data-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.no-data-content {
  margin-top: 50%;
  display: block;
  text-align: center;
  font-size: 150%;
  color: gray;
}